.c-container {
	max-width: $container-max-width;
	margin-left: auto;
	margin-right: auto;
	padding: 0 $container-gutter-small;

	@media #{$medium-up} {
    padding: 0 $container-gutter;
	}

	&::after {
		content: "";
		display: table;
		clear: both;
	}

	&_full {
		padding: 0;
	}
}