.u-text-center {
	text-align: center;
}

.u-text-left {
	text-align: left;
}

.u-text-right {
	text-align: right;
}

.u-text-primary {
	color: $color-primary;
}

.u-text-highlight {
	color: $color-highlight;
}

.u-text-large {
	font-size: 1.5em;
}

.u-text-xlarge {
	font-size: 2em;
}